@charset "UTF-8";
@import "../node_modules/bulma/css/bulma.min.css";

.is-half-width {
    width: 50%;
}

.is-bottom-2 {
    margin-bottom: 20px;
}
.is-i-bottom-2 {
    margin-bottom: 20px !important;
}